<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/cloud.png">
  <title>Out and...</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This app is an app that was made with apps to display applications for you, the user, who uses it.</p>
    <img class="portrait" src="/img/hackermans.jpeg" />
  </div>

  {{>footer}}
</body>

</html>